<%- include('./partials/head', {title: "Página principal"}) %>

  <body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>

    <div class="container">
      <% notices.forEach(notice => { %>
        <div class="card shadow mt-4">

          <div class="card-header bg-purple text-white pl-5 p-4 d-flex align-items-center justify-content-between"> 
            <h2 class=""> <i class="fas fa-exclamation-circle "></i> <%= notice.title %> </h2>
            <h3 class="lead"><%= moment(notice.date).format('DD/MM/YYYY') %></h3>
          </div> <!-- card-header-->
          <div class="card-body p-5">
  
            <!-- Info perfil -->
            <div class="d-flex align-items-center">
              <img src="img/liceu.jpg" class="img-thumbnail rounded-circle" width="75px">
              <div class="ml-2">
                <div class="font-weight-bold">Etec João Belarmino</div>
                <div class="text-secondary"><%= moment(notice.date, "YYYYMMDD").fromNow() %></div>
              </div> <!-- ml-2 (content)-->
            </div>
              
            <!-- Descrição do aviso -->
            <div class="mt-4">
              <%= notice.message %>
            </div>
          </div> <!-- card-body -->
        </div> <!-- card-->
      <% }) %>
    </div> <!-- container -->
    
    <%- include('./partials/scripts_import')%> 
  </body>
</html>
