<%- include('./partials/head', {title: "New Notice"}) %>
  <body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>
    <div class="container">
      <br><br>
      
      <a href="#"> <i class="fas fa-long-arrow-alt-left"></i> Voltar</a> <br><br>
      <div class="card shadow">
        <div class="card-header bg-purple text-white pl-5 p-4"> 
          <h2 class="float-left"> <i class="fas fa-clipboard-list" ></i> Avisos cadastrados</h2>
          <a href="/notices/new" class="btn btn-lg btn-outline-light float-right"> <i class="fas fa-plus-circle" ></i> Novo aviso</a>
        </div> <!-- card-header-->
        <div class="card-body p-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>

              <% if ( notices.length < 1) { %>
               <tr>
                 <td colspan="4" class="text-center">Nenhum aviso cadastrado</td>
               </tr>
              <% } %>

              <% notices.forEach(notice => { %>

                <tr>
                  <th scope="row"> <%= notice.ID_notices %> </th>
                  <td><%= notice.title%></td>
                  <td><%= moment(notice.date).format('DD/MM/YYYY') %> </td>
                  <td>
                    <button 
                      class="btn btn-secondary" 
                      data-toggle="modal"
                      data-target="#deleteModal" 
                      onclick = "deleteNotice(event, '<%= notice.ID_notices %>' )" > Excluir </button>
                    <a href="/notices/edit/<%= notice.ID_notices %>" class="btn btn-primary">Alterar</a href="notices/edit/:id">
                  </td>
                </tr>

              <% }) %>
            </tbody>
          </table>

        </div> <!-- card-body -->
      </div> <!-- card-->
    </div> <!-- container -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja realmente excluir este aviso?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr id="modal-tr-body">
              <td> ID</td>
              <td> Título</td>
              <td> Data</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <form id="form-delete" method="GET">
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>
    
    <%- include('./partials/scripts_import')%> 

    <!-- script excluir-->
    <script>
      function deleteNotice(event, id){
        var tdButtons = event.target.parentElement
        var trNotice = tdButtons.parentElement
        var trModal = document.getElementById("modal-tr-body")

        var formDelete = document.getElementById("form-delete")
        formDelete.action = "/notices/delete/"+id

        trModal.innerHTML = trNotice.innerHTML
        trModal.removeChild(trModal.lastElementChild)
      }
    </script>
  </body>
</html>
